@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --main-color: rgb(33, 33, 92);
    --main-trans-color: rgba(33, 33, 92, 0.712);
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.body1 {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

.login-background {
    height: 100vh;
    overflow: hidden;
    background-image: url("Resources/login.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    align-items: center;
    /* justify-content: center; */



}
.admin-login-background {
    height: 100vh;
    overflow: hidden;
    background-image: url("Resources/admin.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    align-items: center;
    /* justify-content: center; */



}

.login-box {
    height: 500px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-box1 {
    height: 500px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.login-title {
    font-family: "Lilita One";
    /* font-family: "Playwrite DE Grund"; */
    font-size: 54px;
    font-weight: 500px;
    text-align: center;
    /* padding-top: 30px; */
    color: var(--main-trans-color);
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
}

.login-input-box {
    width: 70%;

}

.login-button {
    width: 300px;
}

.login-input-label {
    padding: 0px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: bold;
}

.login-input {
    border-style: solid;
    border-color: var(--main-color);
}

.login-link {
    cursor: pointer;
}

.navbar-background {
    background-color: #80cbc4;
    padding-left: 10px;
}

.nav-title-word {
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;

}

.side-box {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.prof-img-side {
    height: 100px;
    width: 100px;
    margin-top: 100px;

    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.363);
    border-radius: 100%;
}

.side-span1 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.side-span2 {
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

.side-button1 {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.slider-background {

    width: 82vw;
}

.advanced-s:hover {
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.8s;
}

.category-title {
    font-size: 34px;
    font-weight: bold;
    font-family: "Playwrite DE Grund";
    margin-top: 30px;
}

.pro-title {
    color: white;
    font-weight: bold;
    font-family: "Playwrite DE Grund";
    text-shadow: 2px 1px 3px black;
}

.pro-img {
    height: 300px;
    width: auto;
}

.pro-button-panel {
    height: 200px;
}

.pro-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-label {
    font-weight: bold;
    font-size: 20px;
    font-family: "Playwrite DE Grund";
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.search-head {
    font-size: 30px;
    font-weight: bold;
    font-family: "Playwrite DE Grund";
    text-align: center;
    margin-bottom: 20px;
}

.footer-title-word {
    font-weight: bold;
    font-family: "Lilita One";
    font-size: 40px;

}

.cart-div {
    height: 90vh;

}

.cart-body {
    overflow-x: hidden;
}

.cart-title {
    font-family: "Playwrite DE Grund";
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-pro {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.288);
}

.cart-pro-img {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-pro-name {
    height: 100px;
    font-family: "Playwrite DE Grund";
    font-size: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.cart-pro-qty {
    height: 100px;
    /* flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite DE Grund";
}

.cart-pro-price {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite DE Grund";
}


.cart-pro-edit {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.pro-img-cart {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fixed-action-btn {
    position: absolute;
}

.summary-title {
    font-family: "Playwrite DE Grund";
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 30px;
}

.summary-price {
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: "Playwrite DE Grund";
}

.summary-name {
    font-family: "Playwrite DE Grund";
}

.cart-button1 {
    margin-top: 20px;
    width: 100%;
}

.product-info-title {
    font-family: "Playwrite DE Grund";
}

.product-info-img {
    height: 50vh;
    margin-top: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-info-detail {
    height: 50vh;
    margin-top: 20px;
    /* display: flex;
align-items: center;
justify-content: center;
flex-direction: column; */
}

.product-info {
    font-family: "Playwrite DE Grund";
}


.product-info1 {
    font-family: "Playwrite DE Grund";
    font-weight: bold;
}

.pro-info-btn {
    width: 90%;
    margin-top: 20px;
}

.pro-mod {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
}

.profile-profile-img {
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.247);
}

.prof-name {
    font-family: "Playwrite DE Grund";
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}

.prof-email {
    font-family: "Playwrite DE Grund";
    /* font-weight: bold; */
    font-size: 14px;
    margin-top: 10px;
}

.profile-div {
    height: 80vh;
    border-radius: 0px 2000px 2000px 0px;
}

.prof-form {
    margin-top: 30px;
    font-family: "Playwrite DE Grund";
    font-size: 18px;
    font-weight: bold;
}

.prof-form-head {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
    letter-spacing: 2px;
}

.mypro-head {
    font-family: "Playwrite DE Grund";
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.247);

}

.mypro-content {
    height: 150px;
    font-family: "Playwrite DE Grund";
    display: flex;
    align-items: center;
    justify-content: center;
}
.payhis-content {
    height: 40px;
    font-family: "Playwrite DE Grund";
    display: flex;
    align-items: center;
    justify-content: center;
}

.mypro-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.mypro-status {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #009688;
    margin-top: 8px;
    width: 200px;
    color: #009688;
    border-radius: 0px 10px 0px 10px;

}

.mypro-status1 {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #009688;
    margin-top: 8px;
    width: 200px;
    color: #009688;
    font-weight: bold;
    border-radius: 0px 10px 0px 10px;
    background-color: #00968741;

}

.mypro-status2 {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #009688;
    margin-top: 8px;
    width: 200px;
    color: #009688;
    font-weight: bold;
    border-radius: 0px 10px 0px 10px;
    background-color: #00968727;

}

.deliverd-word {
    font-weight: bold;
    font-size: 16px;
}

.advance-to{
    margin-top: 30px;
}
.advan-result{
    font-family: "Playwrite DE Grund";
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}
.chat-out{
    /* border-bottom-style: solid;
    border-top-style: solid;
    border-width: 2px; */
    box-shadow: 0px 0px 3px 1px #0096875d;
    /* border-color: #009688; */
}

.admin-dash-box{
    height: 250px;
    /* background-image: url(Resources/admin-back.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 0px 10px 0px 10px; */
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 10px; */
  
}
.sell-head{
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Playwrite DE Grund";
    margin-bottom: 20px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.493);
}
.sell-small{
    color: white;
    /* font-weight: bold; */
    font-size: 16px;
    font-family: "Playwrite DE Grund";
    margin-bottom: 20px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.493);
}
.sell-sub{
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: "Playwrite DE Grund";
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.493);
}
.sell-pro{
    /* color: white; */
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
    font-family: "Playwrite DE Grund";
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.493);
}
.admin-dash-most{
   height: 500px; 
   border-radius: 30px;
   box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.253);
}

.admin-dash-pro{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;

}










@media only screen and (max-width: 600px) {

    .login-box {
        width: 90vw;
        height: auto;
        margin-top: 50px;

    }

    .login-box1 {
        width: 90vw;
        height: auto;
        margin-top: 50px;

    }

    .login-input-box {
        width: 90%;
    }

    .login-background {
        background-position: bottom;
        align-items: start;

    }

    .search-head {
        font-size: 20px;
    }

    .cart-pro {
        height: auto;
    }

    .cart-body {
        overflow: scroll;
    }

    .cart-div {
        height: auto;
    }

    .pro-mod {
        overflow: scroll;
        height: auto;
        width: 100vw;

    }

    .pro-info-btn {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .product-info-detail {
        height: 50px;
    }

    .mypro-content {
        height: auto;
        margin-top: 10px;
    }

.advance-to{
    margin-top: 0px;
}




}